.header{
  height:50px;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #DFDFDF;
}

.menu{
  float:right;
    }

.menu li{
  display:inline;
    padding: 10px;
  }

  .menu li:last-child{
    color:blue;
  border: solid 1px;
  border-radius: 4px;
  } 

.menu a{
  text-decoration: none;
   color:#495157;
  font-family: Roboto; 
  font-size: 14px;
}

li [href ="signup"]{
  color:blue;
}

.menu a:hover{
  color:red;
  text-decoration: underline;
}
.content{
  display: flex;
  flex-direction: column;
  
}
.content:first-child{
   font-style: normal;
  font-family: Roboto; 
  font-size: 40px;
  text-align:center;
  padding:10px;
  margin: 20px;
  color:#495157;
  border-radius: 3px;
}
.content:last-child{
font-family: Roboto;
font-size: 14px;
  padding-left: 365px;
  padding-right:365px;
   text-align:center;
line-height: 1.7em;
color:#495157;
 border-radius: 3px;
}
.table-content{
  display: flex;
  flex-direction: row;
   justify-content: center;
   margin-top: 20px;
  
}
.column-header{
  height:35px;
  width: 220px;
  background-color: #f7f7f7;
  padding-right:10px;
  padding-left:10px;
  padding-top: 10px;
  margin-right: 20px;
  border-style: solid;
  border-color:#DFDFDF;
  border-width:0.5px;
   border-radius:3px;
   text-align:center;
  
}
.column-content{
  height:210px;
  width:220px;
  padding-right:10px;
    padding-left:10px;
  margin-right:20px;
  border-style:solid;
  border-color:#DFDFDF;
  border-width:0.5px;
   border-radius:3px;
   text-align:center;
 
}
.list{
    list-style-type: none;
   color: #495157;
   font-size: 13px;
  }

li span:first-child{
  font-size: 28px;
  color: black;
}
li span:first-child::after {
  content: " / mo";
  font-size: 15px;
  color: #495157;
}

.sign{
  height: 20px;
  width:100px;
  text-decoration: none;
  font-size: 15px;
  border-style: solid;
  border-color: #2679F8;
  border-radius:4px;
  border-width:0.5px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  display: inline;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  }

.start{
  height: 20px;
  width:100px;
  text-decoration: none;
  font-size: 15px;
  border-style: solid;
  border-color: #2679F8;
  border-radius:4px;
  border-width:0.5px;
  background-color:#2679F8;
  padding: 10px 60px 10px 60px;
  text-align: center;
  display: inline;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
 }

.sign a{
  text-decoration: none;
}

.start a{
  text-decoration: none;
  color: white;
}

.footer{
  display: flex;
  flex-direction: row;
 justify-content:center;
  margin-top: 40px;
  border-top: solid;
  border-width:0.5px;
  border-color:#DFDFDF;
   }

.list a{
  text-decoration: none;
  color: #495157;
}



